<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por LeChuck.(Mi juego favorito)
    Pero para la realización de esta práctica lechuck también recibio un poco de ayuda
    de Mario y Aelajdnro

		La pagina de GitHub es: https://github.com/alemosan1/quiz2017
</p>

<img src="/images/lechuck.jpg" />
<img src="/images/índice.jpg" />

